.contain {
  position: absolute;
  background-color: white;
  margin: 6rem 0 0 17rem;
}

.total_app,
.total_page {
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5px;
}
.total_app {
  background-color: bisque;
}
.total_page {
  background-color: darksalmon;
}
.dashboard_hr {
  width: 33rem;
}

/* ------visa enquiry starts here----- */
.enquiry_body {
  background-color: beige;
}
.enquiry_body form {
  background-color: rgb(143, 141, 138);
  box-shadow: 2px 4px 8px 4px rgb(52, 71, 83);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input_enquiry {
  background-color: azure;
}

/* .visa_enquiry_head {
  text-shadow: 4px 8px 12px rgb(133, 31, 31);
} */

.visa_check {
  text-shadow: 4px 8px 10px rgb(31, 46, 65);
}

.enquiry_image {
  width: 50px;
  height: 50px;
}

/* ------visa enquiry ends here----- */

/* register starts */
.register {
  max-width: 100vw;
  max-height: 100vh;
  color: darksalmon;
}
.register-form {
  border-radius: 10px;
  margin: 5rem auto;
}

.register-form form {
  margin: 0 auto;
  width: 20rem;
}

.password_field {
  margin: 0 auto;
}

.register-form input {
  width: 20rem;
  background-color: rgba(180, 183, 185, 0.5);
}

.contact_admin {
  margin: 0 auto;
}

/* register ends */

@media (max-width: 1200px) {
}
@media (max-width: 768px) {
  .total_app,
  .total_page {
    width: 12rem;
    height: 12rem;
  }
  .dashboard_hr {
    width: 30rem;
  }
}
@media (max-width: 576px) {
  .register-form input {
    width: 15rem;
  }
  button {
    margin-top: -1rem;
  }
  .dashboard {
    flex-direction: column;
  }
  .dashboard_hr {
    width: 13rem;
  }
}

@media (max-width: 480px) {
  .contain {
    margin-left: 16rem;
  }
}

@media (max-width: 412px) {
  .contain {
    margin-left: 11rem;
  }
}

@media (max-width: 360px) {
  .register-form {
    width: 12rem;
    font-size: 14px;
  }
  .register-form input {
    width: 12rem;
    height: 2rem;
  }
  .contact_admin {
    font-size: 12px;
  }
  .total_app,
  .total_page {
    width: 10rem;
    height: 10rem;
    padding: 0.8rem;
    margin: 1rem;
  }
  .dashboard_hr {
    width: 10rem;
  }

  .super-admin {
    text-align: center;
  }
  .contain {
    margin-left: 10.5rem;
  }
}
