.image-eight {
  text-align: center;
}
.carousel-item img {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
}

@media (max-width: 1200px) {
  .carousel-item img {
    height: 80vh;
  }
}

@media (max-width: 810px) {
  .carousel-item img {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 50vh;
  }
}
@media (max-width: 412px) {
  .carousel-item img {
    height: 35vh;
  }
}
